@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#ProjectCard:hover {
  background-color: #001c31;
}

#githubLogo:hover, #linkedinLogo:hover, #twitterLogo:hover {
  box-shadow: 0 0px 10px, 0 0 10px, 0 0 1em #e1f8dc, 0 0 1em #e1f8dc, 0 0 0.1em #e1f8dc;
  opacity: 1;
}

.skill-icon2 {
  transition: transform 0.3s ease-in-out;
}

.view-full-resume-archive:hover .resume-icon {
  transform: translateX(2px) translateY(-2px);
  color: #64ffda;
}

.experience-card:hover .experience-icon {
  transform: translateX(5px) translateY(-5px);
  color: #64ffda;
  transition: transform 0.3s ease-in-out;
}

.experience-card:hover .text-hover {
  color: #64ffda;
}

.link-div:hover .text-white {
  color: #64ffda;
}

.link-div:hover .svg-icon {
  color: #64ffda;
}

::selection {
  background-color: #64ffda;
  color: #000000;
}